.firstName{
    font-size: 3rem;
    @media (max-width: 768px) {
        font-size: 2rem;
    }
    @media (max-width: 1280px) {
        font-size: 2rem;
    }
}

.titleCenter{
    font-size: 3rem;
    text-align: center;
    @media (max-width: 768px) {
        font-size: 2rem;
    }
    @media (max-width: 1280px) {
        font-size: 2rem;
    }
}


.lastName{
    font-size: 3rem;
    color: #4682B4;
    margin-left: 15px;
    @media (max-width: 768px) {
        font-size: 2rem;
    }
    @media (max-width: 1280px) {
        font-size: 2rem;
    }
}

.subTitles{
    font-size: 2rem;
    @media (max-width: 768px) {
        font-size: 1.5rem;
    }
    @media (max-width: 1280px) {
        font-size: 1rem;
    }
}