div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(135,206,250, 0.9);
    width: 115px;
    height: 30px;
    border-radius: 4px;

    img{
        width: 30px;
        height: 30px;
    }
}