#tab{
    width: 85vw;
    height: 100vh;
    margin-left: 4rem;
}

#name{
    display: flex;
}

#imageContainer{
    display: inline-block;
    justify-content: space-around;
img{
    width: 60px;
    height: 80px;
}
}

