#tab{
    margin-left: 2rem;
    @media (max-width: 280px){
    margin-left: 10px;
    }
}

#name{
    display: flex;
}

#imageContainer{
    display: inline-block;
    justify-content: space-around;
img{
    width: 60px;
    height: 80px;
    @media (max-width: 768px){
        width: 45px;
        height: 80px;
    }
}
}

