nav{
    width: 15%;
    background: #4682B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.socialText{
    font-size: 1.7rem;
    font-weight: 700;
    color: #000000;
    display: flex;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;

}

#myImage{
    width: 100%;
    height: 250px;
    border-radius: 50%;
    border: 0.7rem solid rgba(255, 255, 255, 0.1);
}

#navContainer{
display: flex;
flex-direction: column;
gap: 50px;
margin-top: 40px;
}

#navDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

#cardsDiv{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

a:hover{
    font-size: 2rem;
    color: #FFFFFF;
    transition: 0.2s;
}

@media (max-width: 768px) {
    nav{
    width: 100%;
    height: 90px;
    justify-content: center;
    }

    #myImage{
        display: none;
    }

    #navDiv{
        flex-direction: row;
    }

    #cardsDiv{
        flex-direction: row;
    }


    #navContainer{
        margin-top: -23px;
        gap: 10px
    }

    .socialText{
        font-size: 1rem;
    }

    .socialText:hover{
        font-size: 1.1rem;
        color: #FFFFFF;
        transition: 0.2s;
    }
}

p{
    text-align: center;
    margin-top: 20%;
    @media (max-width: 768px) {
        display: none;
    }
}
