.timeDate {
    display: flex;
    flex-flow: column;
    align-items: center;
    #clock {
      font-weight: 700;
      font-size: 5em;
      @media (max-width: 768px) {
        font-size: 2.5rem;
    }
    }
    #date {
      font-size: 1em;
    }
  }